@model MongoTwitterApp.Models.TwitterEntity

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <p>
        
        @Html.ActionLink("Get Tweets", "GetTweets", "Home")
        |
         @Html.ActionLink("Get All Statistics", "GetAllStatistics", "Home")
        |
         @Html.ActionLink("Get Las Month Statistics", "GetLastMonthStatistics", "Home")
    </p>
</div>